[submodule "client"]
	path = client
	url = https://github.com/yomi-um/project_client.git
[submodule "server"]
	path = server
	url = https://github.com/yomi-um/project_server.git
[submodule "web_app"]
	path = web_app
	url = https://github.com/yomi-um/project_web_app
[submodule "face"]
	path = face
	url = https://github.com/yomi-um/project_face
